root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning

[*.{json,yaml,yml,props,targets,csproj,md,sql,ps1}]
indent_style = space
indent_size = 2
